<a href="https://colab.research.google.com/github/sudeshna0501/stock-market-analysis/blob/main/Stock_Market_Analysis_Atlys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing necessary libraries

import requests
import pandas as pd
from datetime import datetime, timedelta
import sqlite3
from statistics import median

In [2]:
#Declaring the API KEY
#We can put this in a secure key vault

API_KEY = ~

In [3]:
#Declaring the start and end date to fetch historical data dump

start_date = '2020-01-01'
end_date = '2024-05-31'

In [4]:
#List of Top 10 companies in India (by Market Cap) - Self declared for usage in url

companies = ['RELIANCE', 'TCS', 'HDFCBANK', 'HINDUNILVR', 'INFY', 'HDFC', 'ICICIBANK', 'KOTAKBANK', 'BHARTIARTL', 'HCLTECH']

Script for historical dump

In [5]:
# Function to fetch the data by necessary format

def stock_data(symbol):
    url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}.BO&outputsize=full&apikey={API_KEY}"
    r = requests.get(url)
    data = r.json()

    if 'Time Series (Daily)' in data:
        stock = pd.DataFrame(data['Time Series (Daily)']).transpose()
        stock.index = pd.to_datetime(stock.index)
        stock.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
        stock['Company'] = symbol
        stock = stock[['Company', 'Open', 'High', 'Low', 'Close', 'Volume']]
        return stock
    else:
        return pd.DataFrame()

In [7]:
# Fetching data per company

per_company = []
for company in companies:
    company_data = stock_data(company)
    if not company_data.empty:
        per_company.append(company_data)


#Concatenate all companies data

if per_company:
    total_data = pd.concat(per_company)
    total_data.reset_index(inplace=True)
    total_data.rename(columns={'index': 'Date'}, inplace=True)
    total_data = total_data[['Date', 'Company', 'Open', 'High', 'Low', 'Close', 'Volume']]
    total_data.to_csv('total_data.csv', index=False)
else:
    print("There is no data. Try again!")

In [8]:
total_data

            Date   Company       Open       High        Low      Close  Volume
0     2024-07-05  RELIANCE  3114.6000  3197.6500  3097.0000  3188.0000  758770
1     2024-07-04  RELIANCE  3116.9500  3134.5000  3102.3000  3107.9000  132480
2     2024-07-03  RELIANCE  3130.3500  3149.5000  3085.2000  3105.3000  171680
3     2024-07-02  RELIANCE  3133.8000  3150.0000  3113.3500  3132.3000  157110
4     2024-07-01  RELIANCE  3129.9500  3157.5500  3110.4000  3120.3500  187610
...          ...       ...        ...        ...        ...        ...     ...
43288 2005-01-07   HCLTECH   329.9500   329.9500   321.9500   325.4000  220256
43289 2005-01-06   HCLTECH   333.0000   334.0000   319.0000   322.0000  908712
43290 2005-01-05   HCLTECH   348.1000   349.5000   327.1000   334.0500  237496
43291 2005-01-04   HCLTECH   351.0000   352.3000   345.0500   347.8000  339584
43292 2005-01-03   HCLTECH   355.0000   355.0000   345.0500   349.5500  210120

[43293 rows x 7 columns]

In [9]:
# Fetching historical data from Jan 1, 2020 to May 31, 2024

historical_data = total_data[(total_data['Date'] >= start_date) & (total_data['Date'] <= end_date)]
historical_data

            Date   Company       Open       High        Low      Close  Volume
24    2024-05-31  RELIANCE  2864.6500  2884.2000  2843.2500  2859.6000  797290
25    2024-05-30  RELIANCE  2884.0000  2884.0000  2841.5000  2850.0000   54130
26    2024-05-29  RELIANCE  2897.0000  2916.1000  2877.0000  2881.4500   65080
27    2024-05-28  RELIANCE  2941.9500  2957.0000  2905.4000  2911.2500  116320
28    2024-05-27  RELIANCE  2960.8000  2967.4500  2924.0000  2932.4500  134570
...          ...       ...        ...        ...        ...        ...     ...
39598 2020-01-07   HCLTECH   585.0000   588.0000   579.3000   584.2500   32259
39599 2020-01-06   HCLTECH   584.1000   591.9000   579.8000   581.9000  155603
39600 2020-01-03   HCLTECH   575.0000   588.5000   573.2500   584.6500   85559
39601 2020-01-02   HCLTECH   575.0000   575.0000   570.0500   573.4500   30454
39602 2020-01-01   HCLTECH   572.0000   572.9000   567.2500   571.8500   93437

[9837 rows x 7 columns]

Script for daily dump (D-1)

In [ ]:
#We check the date for which day the data is available. For example, while running the query on 08-07-2024, data was available only till 4th, hence yesterday's date will give no data in the subsequent query
total_data[total_data['Date'] == '2024-07-04']

In [16]:
dt_1 = datetime.now()-timedelta(days=1)
dt_2 = dt_1.strftime('%Y-%m-%d')
yesterday_data = total_data[total_data['Date'].dt.date == dt_1.date()]

Empty DataFrame
Columns: [Date, Company, Open, High, Low, Close, Volume]
Index: []

SQL DB/DW credentials such that querying can be done - Connection to SQLITE3

In [28]:
# Connect to SQLite databas
conn = sqlite3.connect('historical_data.db')

# Cursor object to interact with the database
cursor = conn.cursor()

#Converting dataframe to SQL table
historical_data.to_sql('historical_data_table', conn, if_exists='replace', index=False)

# Indexing of the DB on Company and Date
cursor.execute("CREATE INDEX idx_company ON historical_data_table (Company)")
cursor.execute("CREATE INDEX idx_date ON historical_data_table (Date)")


# Company Wise Daily Variation of Prices
cursor.execute("""
        SELECT Date, Company, (Close - Open) AS DailyVariation
        FROM historical_data_table
        WHERE Company = 'HCLTECH'
        ORDER BY Date DESC
    """)
data1 = cursor.fetchall()

# Company Wise Daily Volume Change
cursor.execute("""
        SELECT Date, Company, Volume
        FROM historical_data_table
        WHERE Company = 'TCS'
        ORDER BY Date DESC;
    """)
data2 = cursor.fetchall()


# Median Daily Variation - Unable to work this out
# cursor.execute("""
#         SELECT Median(Close - Open) AS DailyVariation
#         FROM historical_data_table
#         WHERE Company = 'ICICIBANK'
#     """)
data3 = cursor.fetchall()

for data in data2: #data1 to be changed to data2 and data3, depending on the result desired to be obtained
  print(data)

conn.commit()
conn.close()

('2024-05-31 00:00:00', 'TCS', '350824')
('2024-05-30 00:00:00', 'TCS', '169744')
('2024-05-29 00:00:00', 'TCS', '93331')
('2024-05-28 00:00:00', 'TCS', '27095')
('2024-05-27 00:00:00', 'TCS', '99435')
('2024-05-24 00:00:00', 'TCS', '163855')
('2024-05-23 00:00:00', 'TCS', '39379')
('2024-05-22 00:00:00', 'TCS', '88374')
('2024-05-21 00:00:00', 'TCS', '90317')
('2024-05-18 00:00:00', 'TCS', '4203')
('2024-05-17 00:00:00', 'TCS', '223617')
('2024-05-16 00:00:00', 'TCS', '33443')
('2024-05-15 00:00:00', 'TCS', '71057')
('2024-05-14 00:00:00', 'TCS', '19294')
('2024-05-13 00:00:00', 'TCS', '68499')
('2024-05-10 00:00:00', 'TCS', '119844')
('2024-05-09 00:00:00', 'TCS', '24876')
('2024-05-08 00:00:00', 'TCS', '25099')
('2024-05-07 00:00:00', 'TCS', '68881')
('2024-05-06 00:00:00', 'TCS', '53334')
('2024-05-03 00:00:00', 'TCS', '149072')
('2024-05-02 00:00:00', 'TCS', '76798')
('2024-04-30 00:00:00', 'TCS', '98711')
('2024-04-29 00:00:00', 'TCS', '22303')
('2024-04-26 00:00:00', 'TCS', '114191')
('2024-04-25 00:00:00', 'TCS', '86420')
('2024-04-24 00:00:00', 'TCS', '38530')
('2024-04-23 00:00:00', 'TCS', '61696')
('2024-04-22 00:00:00', 'TCS', '51988')
('2024-04-19 00:00:00', 'TCS', '223097')
('2024-04-18 00:00:00', 'TCS', '65782')
('2024-04-16 00:00:00', 'TCS', '163353')
('2024-04-15 00:00:00', 'TCS', '104649')
('2024-04-12 00:00:00', 'TCS', '179585')
('2024-04-10 00:00:00', 'TCS', '109590')
('2024-04-09 00:00:00', 'TCS', '81107')
('2024-04-08 00:00:00', 'TCS', '90377')
('2024-04-05 00:00:00', 'TCS', '93066')
('2024-04-04 00:00:00', 'TCS', '42264')
('2024-04-03 00:00:00', 'TCS', '62264')
('2024-04-02 00:00:00', 'TCS', '44046')
('2024-04-01 00:00:00', 'TCS', '58865')
('2024-03-28 00:00:00', 'TCS', '80498')
('2024-03-27 00:00:00', 'TCS', '71441')
('2024-03-26 00:00:00', 'TCS', '203863')
('2024-03-22 00:00:00', 'TCS', '275926')
('2024-03-21 00:00:00', 'TCS', '64927')
('2024-03-20 00:00:00', 'TCS', '136936')
('2024-03-19 00:00:00', 'TCS', '25582190')
('2024-03-18 00:00:00', 'TCS', '39490')
('2024-03-15 00:00:00', 'TCS', '106409')
('2024-03-14 00:00:00', 'TCS', '50198')
('2024-03-13 00:00:00', 'TCS', '46250')
('2024-03-12 00:00:00', 'TCS', '99915')
('2024-03-11 00:00:00', 'TCS', '105726')
('2024-03-07 00:00:00', 'TCS', '227716')
('2024-03-06 00:00:00', 'TCS', '70501')
('2024-03-05 00:00:00', 'TCS', '120472')
('2024-03-04 00:00:00', 'TCS', '108134')
('2024-03-01 00:00:00', 'TCS', '120954')
('2024-02-29 00:00:00', 'TCS', '30529')
('2024-02-28 00:00:00', 'TCS', '33404')
('2024-02-27 00:00:00', 'TCS', '334830')
('2024-02-26 00:00:00', 'TCS', '19901')
('2024-02-23 00:00:00', 'TCS', '171593')
('2024-02-22 00:00:00', 'TCS', '31762')
('2024-02-21 00:00:00', 'TCS', '24380')
('2024-02-20 00:00:00', 'TCS', '30284')
('2024-02-19 00:00:00', 'TCS', '56840')
('2024-02-16 00:00:00', 'TCS', '132816')
('2024-02-15 00:00:00', 'TCS', '39303')
('2024-02-14 00:00:00', 'TCS', '15211')
('2024-02-13 00:00:00', 'TCS', '21924')
('2024-02-12 00:00:00', 'TCS', '57361')
('2024-02-09 00:00:00', 'TCS', '202275')
('2024-02-08 00:00:00', 'TCS', '39399')
('2024-02-07 00:00:00', 'TCS', '271054')
('2024-02-06 00:00:00', 'TCS', '107328')
('2024-02-05 00:00:00', 'TCS', '126912')
('2024-02-02 00:00:00', 'TCS', '178429')
('2024-02-01 00:00:00', 'TCS', '780437')
('2024-01-31 00:00:00', 'TCS', '32384')
('2024-01-30 00:00:00', 'TCS', '272018')
('2024-01-29 00:00:00', 'TCS', '251247')
('2024-01-25 00:00:00', 'TCS', '1089054')
('2024-01-24 00:00:00', 'TCS', '408405')
('2024-01-23 00:00:00', 'TCS', '51991')
('2024-01-19 00:00:00', 'TCS', '562002')
('2024-01-18 00:00:00', 'TCS', '0')
('2024-01-17 00:00:00', 'TCS', '41328')
('2024-01-16 00:00:00', 'TCS', '25447')
('2024-01-15 00:00:00', 'TCS', '89116')
('2024-01-12 00:00:00', 'TCS', '1168288')
('2024-01-11 00:00:00', 'TCS', '205186')
('2024-01-10 00:00:00', 'TCS', '99268')
('2024-01-09 00:00:00', 'TCS', '87204')
('2024-01-08 00:00:00', 'TCS', '26313')
('2024-01-05 00:00:00', 'TCS', '226503')
('2024-01-04 00:00:00', 'TCS', '113458')
('2024-01-03 00:00:00', 'TCS', '101894')
('2024-01-02 00:00:00', 'TCS', '28298')
('2024-01-01 00:00:00', 'TCS', '68853')
('2023-12-29 00:00:00', 'TCS', '105711')
('2023-12-28 00:00:00', 'TCS', '29256')
('2023-12-27 00:00:00', 'TCS', '28290')
('2023-12-26 00:00:00', 'TCS', '70216')
('2023-12-22 00:00:00', 'TCS', '127163')
('2023-12-21 00:00:00', 'TCS', '90556')
('2023-12-20 00:00:00', 'TCS', '60720')
('2023-12-19 00:00:00', 'TCS', '54142')
('2023-12-18 00:00:00', 'TCS', '73334')
('2023-12-15 00:00:00', 'TCS', '272428')
('2023-12-14 00:00:00', 'TCS', '246373')
('2023-12-13 00:00:00', 'TCS', '115769')
('2023-12-12 00:00:00', 'TCS', '77392')
('2023-12-11 00:00:00', 'TCS', '22168')
('2023-12-08 00:00:00', 'TCS', '274344')
('2023-12-07 00:00:00', 'TCS', '37043')
('2023-12-06 00:00:00', 'TCS', '48863')
('2023-12-05 00:00:00', 'TCS', '77724')
('2023-12-04 00:00:00', 'TCS', '48292')
('2023-12-01 00:00:00', 'TCS', '441821')
('2023-11-30 00:00:00', 'TCS', '46364')
('2023-11-29 00:00:00', 'TCS', '98285')
('2023-11-28 00:00:00', 'TCS', '58924')
('2023-11-24 00:00:00', 'TCS', '365537')
('2023-11-23 00:00:00', 'TCS', '196038')
('2023-11-22 00:00:00', 'TCS', '114862')
('2023-11-21 00:00:00', 'TCS', '48656')
('2023-11-20 00:00:00', 'TCS', '80442')
('2023-11-17 00:00:00', 'TCS', '271375')
('2023-11-16 00:00:00', 'TCS', '169895')
('2023-11-15 00:00:00', 'TCS', '128174')
('2023-11-13 00:00:00', 'TCS', '32989')
('2023-11-10 00:00:00', 'TCS', '253510')
('2023-11-09 00:00:00', 'TCS', '35061')
('2023-11-08 00:00:00', 'TCS', '68334')
('2023-11-07 00:00:00', 'TCS', '38446')
('2023-11-06 00:00:00', 'TCS', '14209')
('2023-11-03 00:00:00', 'TCS', '124559')
('2023-11-02 00:00:00', 'TCS', '39442')
('2023-11-01 00:00:00', 'TCS', '16067')
('2023-10-31 00:00:00', 'TCS', '47077')
('2023-10-30 00:00:00', 'TCS', '17188')
('2023-10-27 00:00:00', 'TCS', '342615')
('2023-10-26 00:00:00', 'TCS', '155481')
('2023-10-25 00:00:00', 'TCS', '32271')
('2023-10-23 00:00:00', 'TCS', '26553')
('2023-10-20 00:00:00', 'TCS', '391507')
('2023-10-19 00:00:00', 'TCS', '216685')
('2023-10-18 00:00:00', 'TCS', '35991')
('2023-10-17 00:00:00', 'TCS', '79395')
('2023-10-16 00:00:00', 'TCS', '41613')
('2023-10-13 00:00:00', 'TCS', '326628')
('2023-10-12 00:00:00', 'TCS', '205521')
('2023-10-11 00:00:00', 'TCS', '530680')
('2023-10-10 00:00:00', 'TCS', '57937')
('2023-10-09 00:00:00', 'TCS', '136192')
('2023-10-06 00:00:00', 'TCS', '251185')
('2023-10-05 00:00:00', 'TCS', '64884')
('2023-10-04 00:00:00', 'TCS', '282695')
('2023-10-03 00:00:00', 'TCS', '110749')
('2023-09-29 00:00:00', 'TCS', '83502')
('2023-09-28 00:00:00', 'TCS', '374575')
('2023-09-27 00:00:00', 'TCS', '26350')
('2023-09-26 00:00:00', 'TCS', '113520')
('2023-09-25 00:00:00', 'TCS', '84429')
('2023-09-22 00:00:00', 'TCS', '32498')
('2023-09-21 00:00:00', 'TCS', '103196')
('2023-09-20 00:00:00', 'TCS', '32742')
('2023-09-18 00:00:00', 'TCS', '85875')
('2023-09-15 00:00:00', 'TCS', '49097')
('2023-09-14 00:00:00', 'TCS', '24854')
('2023-09-13 00:00:00', 'TCS', '36826')
('2023-09-12 00:00:00', 'TCS', '102261')
('2023-09-11 00:00:00', 'TCS', '93745')
('2023-09-08 00:00:00', 'TCS', '189880')
('2023-09-07 00:00:00', 'TCS', '37771')
('2023-09-06 00:00:00', 'TCS', '36225')
('2023-09-05 00:00:00', 'TCS', '41368')
('2023-09-04 00:00:00', 'TCS', '36795')
('2023-09-01 00:00:00', 'TCS', '47394')
('2023-08-31 00:00:00', 'TCS', '25911')
('2023-08-30 00:00:00', 'TCS', '116058')
('2023-08-29 00:00:00', 'TCS', '63180')
('2023-08-28 00:00:00', 'TCS', '82413')
('2023-08-25 00:00:00', 'TCS', '155554')
('2023-08-24 00:00:00', 'TCS', '101202')
('2023-08-23 00:00:00', 'TCS', '130854')
('2023-08-22 00:00:00', 'TCS', '69816')
('2023-08-21 00:00:00', 'TCS', '62020')
('2023-08-18 00:00:00', 'TCS', '584952')
('2023-08-17 00:00:00', 'TCS', '62318')
('2023-08-16 00:00:00', 'TCS', '38718')
('2023-08-14 00:00:00', 'TCS', '88531')
('2023-08-11 00:00:00', 'TCS', '121004')
('2023-08-10 00:00:00', 'TCS', '85997')
('2023-08-09 00:00:00', 'TCS', '53047')
('2023-08-08 00:00:00', 'TCS', '81770')
('2023-08-07 00:00:00', 'TCS', '48564')
('2023-08-04 00:00:00', 'TCS', '73311')
('2023-08-03 00:00:00', 'TCS', '89034')
('2023-08-02 00:00:00', 'TCS', '0')
('2023-08-01 00:00:00', 'TCS', '0')
('2023-07-31 00:00:00', 'TCS', '0')
('2023-07-28 00:00:00', 'TCS', '97335')
('2023-07-27 00:00:00', 'TCS', '0')
('2023-07-26 00:00:00', 'TCS', '21902')
('2023-07-25 00:00:00', 'TCS', '0')
('2023-07-24 00:00:00', 'TCS', '71143')
('2023-07-21 00:00:00', 'TCS', '88718')
('2023-07-20 00:00:00', 'TCS', '72310')
('2023-07-19 00:00:00', 'TCS', '94660')
('2023-07-18 00:00:00', 'TCS', '0')
('2023-07-17 00:00:00', 'TCS', '76509')
('2023-07-14 00:00:00', 'TCS', '392060')
('2023-07-13 00:00:00', 'TCS', '0')
('2023-07-12 00:00:00', 'TCS', '0')
('2023-07-11 00:00:00', 'TCS', '0')
('2023-07-10 00:00:00', 'TCS', '37435')
('2023-07-07 00:00:00', 'TCS', '60304')
('2023-07-06 00:00:00', 'TCS', '0')
('2023-07-05 00:00:00', 'TCS', '0')
('2023-07-04 00:00:00', 'TCS', '0')
('2023-07-03 00:00:00', 'TCS', '0')
('2023-06-30 00:00:00', 'TCS', '128775')
('2023-06-28 00:00:00', 'TCS', '46412')
('2023-06-27 00:00:00', 'TCS', '66914')
('2023-06-26 00:00:00', 'TCS', '115935')
('2023-06-23 00:00:00', 'TCS', '169294')
('2023-06-22 00:00:00', 'TCS', '85493')
('2023-06-21 00:00:00', 'TCS', '34640')
('2023-06-20 00:00:00', 'TCS', '55192')
('2023-06-19 00:00:00', 'TCS', '88241')
('2023-06-16 00:00:00', 'TCS', '151310')
('2023-06-15 00:00:00', 'TCS', '133137')
('2023-06-14 00:00:00', 'TCS', '120224')
('2023-06-13 00:00:00', 'TCS', '111746')
('2023-06-12 00:00:00', 'TCS', '95226')
('2023-06-09 00:00:00', 'TCS', '137471')
('2023-06-08 00:00:00', 'TCS', '63206')
('2023-06-07 00:00:00', 'TCS', '109708')
('2023-06-06 00:00:00', 'TCS', '150482')
('2023-06-05 00:00:00', 'TCS', '35207')
('2023-06-02 00:00:00', 'TCS', '22900')
('2023-06-01 00:00:00', 'TCS', '62779')
('2023-05-31 00:00:00', 'TCS', '28339')
('2023-05-30 00:00:00', 'TCS', '39929')
('2023-05-29 00:00:00', 'TCS', '0')
('2023-05-26 00:00:00', 'TCS', '66787')
('2023-05-25 00:00:00', 'TCS', '30397')
('2023-05-24 00:00:00', 'TCS', '11292')
('2023-05-23 00:00:00', 'TCS', '32867')
('2023-05-22 00:00:00', 'TCS', '37822')
('2023-05-19 00:00:00', 'TCS', '38600')
('2023-05-18 00:00:00', 'TCS', '0')
('2023-05-17 00:00:00', 'TCS', '21459')
('2023-05-16 00:00:00', 'TCS', '20043')
('2023-05-15 00:00:00', 'TCS', '20898')
('2023-05-12 00:00:00', 'TCS', '19204')
('2023-05-11 00:00:00', 'TCS', '22830')
('2023-05-10 00:00:00', 'TCS', '62216')
('2023-05-09 00:00:00', 'TCS', '23799')
('2023-05-08 00:00:00', 'TCS', '53011')
('2023-05-05 00:00:00', 'TCS', '23445')
('2023-05-04 00:00:00', 'TCS', '74186')
('2023-05-03 00:00:00', 'TCS', '53799')
('2023-05-02 00:00:00', 'TCS', '69567')
('2023-04-28 00:00:00', 'TCS', '51644')
('2023-04-27 00:00:00', 'TCS', '80128')
('2023-04-26 00:00:00', 'TCS', '40943')
('2023-04-25 00:00:00', 'TCS', '76223')
('2023-04-24 00:00:00', 'TCS', '122196')
('2023-04-21 00:00:00', 'TCS', '58734')
('2023-04-20 00:00:00', 'TCS', '76175')
('2023-04-19 00:00:00', 'TCS', '185687')
('2023-04-18 00:00:00', 'TCS', '151970')
('2023-04-17 00:00:00', 'TCS', '191858')
('2023-04-13 00:00:00', 'TCS', '232961')
('2023-04-12 00:00:00', 'TCS', '126563')
('2023-04-11 00:00:00', 'TCS', '103589')
('2023-04-10 00:00:00', 'TCS', '101932')
('2023-04-06 00:00:00', 'TCS', '139159')
('2023-04-05 00:00:00', 'TCS', '188173')
('2023-04-03 00:00:00', 'TCS', '29210')
('2023-03-31 00:00:00', 'TCS', '39813')
('2023-03-29 00:00:00', 'TCS', '25771')
('2023-03-28 00:00:00', 'TCS', '31013')
('2023-03-27 00:00:00', 'TCS', '77555')
('2023-03-24 00:00:00', 'TCS', '34882')
('2023-03-23 00:00:00', 'TCS', '26541')
('2023-03-22 00:00:00', 'TCS', '33080')
('2023-03-21 00:00:00', 'TCS', '34240')
('2023-03-20 00:00:00', 'TCS', '52684')
('2023-03-17 00:00:00', 'TCS', '269767')
('2023-03-16 00:00:00', 'TCS', '52784')
('2023-03-15 00:00:00', 'TCS', '95877')
('2023-03-14 00:00:00', 'TCS', '240605')
('2023-03-13 00:00:00', 'TCS', '81352')
('2023-03-10 00:00:00', 'TCS', '54663')
('2023-03-09 00:00:00', 'TCS', '48171')
('2023-03-08 00:00:00', 'TCS', '30873')
('2023-03-06 00:00:00', 'TCS', '57870')
('2023-03-03 00:00:00', 'TCS', '15677')
('2023-03-02 00:00:00', 'TCS', '48727')
('2023-03-01 00:00:00', 'TCS', '48789')
('2023-02-28 00:00:00', 'TCS', '56090')
('2023-02-27 00:00:00', 'TCS', '30683')
('2023-02-24 00:00:00', 'TCS', '35329')
('2023-02-23 00:00:00', 'TCS', '41914')
('2023-02-22 00:00:00', 'TCS', '41593')
('2023-02-21 00:00:00', 'TCS', '102243')
('2023-02-20 00:00:00', 'TCS', '43050')
('2023-02-17 00:00:00', 'TCS', '50874')
('2023-02-16 00:00:00', 'TCS', '57676')
('2023-02-15 00:00:00', 'TCS', '30042')
('2023-02-14 00:00:00', 'TCS', '141270')
('2023-02-13 00:00:00', 'TCS', '26143')
('2023-02-10 00:00:00', 'TCS', '48411')
('2023-02-09 00:00:00', 'TCS', '32844')
('2023-02-08 00:00:00', 'TCS', '50900')
('2023-02-07 00:00:00', 'TCS', '80033')
('2023-02-06 00:00:00', 'TCS', '21416')
('2023-02-03 00:00:00', 'TCS', '125650')
('2023-02-02 00:00:00', 'TCS', '48456')
('2023-02-01 00:00:00', 'TCS', '43182')
('2023-01-31 00:00:00', 'TCS', '79115')
('2023-01-30 00:00:00', 'TCS', '59893')
('2023-01-27 00:00:00', 'TCS', '91518')
('2023-01-25 00:00:00', 'TCS', '39744')
('2023-01-24 00:00:00', 'TCS', '55283')
('2023-01-23 00:00:00', 'TCS', '46966')
('2023-01-20 00:00:00', 'TCS', '46357')
('2023-01-19 00:00:00', 'TCS', '77208')
('2023-01-18 00:00:00', 'TCS', '107557')
('2023-01-17 00:00:00', 'TCS', '121563')
('2023-01-16 00:00:00', 'TCS', '64489')
('2023-01-13 00:00:00', 'TCS', '98757')
('2023-01-12 00:00:00', 'TCS', '83856')
('2023-01-11 00:00:00', 'TCS', '72414')
('2023-01-10 00:00:00', 'TCS', '94932')
('2023-01-09 00:00:00', 'TCS', '169062')
('2023-01-06 00:00:00', 'TCS', '91907')
('2023-01-05 00:00:00', 'TCS', '54074')
('2023-01-04 00:00:00', 'TCS', '42280')
('2023-01-03 00:00:00', 'TCS', '45996')
('2023-01-02 00:00:00', 'TCS', '72106')
('2022-12-30 00:00:00', 'TCS', '182089')
('2022-12-29 00:00:00', 'TCS', '52967')
('2022-12-28 00:00:00', 'TCS', '41409')
('2022-12-27 00:00:00', 'TCS', '34548')
('2022-12-26 00:00:00', 'TCS', '18484')
('2022-12-23 00:00:00', 'TCS', '88714')
('2022-12-22 00:00:00', 'TCS', '41242')
('2022-12-21 00:00:00', 'TCS', '91096')
('2022-12-20 00:00:00', 'TCS', '28562')
('2022-12-19 00:00:00', 'TCS', '90877')
('2022-12-16 00:00:00', 'TCS', '66727')
('2022-12-15 00:00:00', 'TCS', '56212')
('2022-12-14 00:00:00', 'TCS', '39334')
('2022-12-13 00:00:00', 'TCS', '36869')
('2022-12-12 00:00:00', 'TCS', '80179')
('2022-12-09 00:00:00', 'TCS', '68806')
('2022-12-08 00:00:00', 'TCS', '106443')
('2022-12-07 00:00:00', 'TCS', '45278')
('2022-12-06 00:00:00', 'TCS', '50436')
('2022-12-05 00:00:00', 'TCS', '77725')
('2022-12-02 00:00:00', 'TCS', '83358')
('2022-12-01 00:00:00', 'TCS', '261887')
('2022-11-30 00:00:00', 'TCS', '32178')
('2022-11-29 00:00:00', 'TCS', '166776')
('2022-11-28 00:00:00', 'TCS', '95814')
('2022-11-25 00:00:00', 'TCS', '80720')
('2022-11-24 00:00:00', 'TCS', '150131')
('2022-11-23 00:00:00', 'TCS', '73213')
('2022-11-22 00:00:00', 'TCS', '23411')
('2022-11-21 00:00:00', 'TCS', '26113')
('2022-11-18 00:00:00', 'TCS', '138271')
('2022-11-17 00:00:00', 'TCS', '46877')
('2022-11-16 00:00:00', 'TCS', '196455')
('2022-11-15 00:00:00', 'TCS', '132868')
('2022-11-14 00:00:00', 'TCS', '145040')
('2022-11-11 00:00:00', 'TCS', '308454')
('2022-11-10 00:00:00', 'TCS', '114990')
('2022-11-09 00:00:00', 'TCS', '107468')
('2022-11-07 00:00:00', 'TCS', '121301')
('2022-11-04 00:00:00', 'TCS', '112298')
('2022-11-03 00:00:00', 'TCS', '1567293')
('2022-11-02 00:00:00', 'TCS', '146673')
('2022-11-01 00:00:00', 'TCS', '52959')
('2022-10-31 00:00:00', 'TCS', '80343')
('2022-10-28 00:00:00', 'TCS', '36819')
('2022-10-27 00:00:00', 'TCS', '42161')
('2022-10-25 00:00:00', 'TCS', '142516')
('2022-10-24 00:00:00', 'TCS', '42704')
('2022-10-21 00:00:00', 'TCS', '93476')
('2022-10-20 00:00:00', 'TCS', '35915')
('2022-10-19 00:00:00', 'TCS', '50767')
('2022-10-18 00:00:00', 'TCS', '41737')
('2022-10-17 00:00:00', 'TCS', '1207533')
('2022-10-14 00:00:00', 'TCS', '127684')
('2022-10-13 00:00:00', 'TCS', '123897')
('2022-10-12 00:00:00', 'TCS', '77306')
('2022-10-11 00:00:00', 'TCS', '1428966')
('2022-10-10 00:00:00', 'TCS', '227444')
('2022-10-07 00:00:00', 'TCS', '190047')
('2022-10-06 00:00:00', 'TCS', '185886')
('2022-10-04 00:00:00', 'TCS', '113230')
('2022-10-03 00:00:00', 'TCS', '161101')
('2022-09-30 00:00:00', 'TCS', '167509')
('2022-09-29 00:00:00', 'TCS', '116665')
('2022-09-28 00:00:00', 'TCS', '129003')
('2022-09-27 00:00:00', 'TCS', '152031')
('2022-09-26 00:00:00', 'TCS', '181320')
('2022-09-23 00:00:00', 'TCS', '145153')
('2022-09-22 00:00:00', 'TCS', '148264')
('2022-09-21 00:00:00', 'TCS', '124329')
('2022-09-20 00:00:00', 'TCS', '112804')
('2022-09-19 00:00:00', 'TCS', '855360')
('2022-09-16 00:00:00', 'TCS', '352662')
('2022-09-15 00:00:00', 'TCS', '192170')
('2022-09-14 00:00:00', 'TCS', '373125')
('2022-09-13 00:00:00', 'TCS', '129890')
('2022-09-12 00:00:00', 'TCS', '90748')
('2022-09-09 00:00:00', 'TCS', '197742')
('2022-09-08 00:00:00', 'TCS', '96753')
('2022-09-07 00:00:00', 'TCS', '105750')
('2022-09-06 00:00:00', 'TCS', '67799')
('2022-09-05 00:00:00', 'TCS', '224678')
('2022-09-02 00:00:00', 'TCS', '108411')
('2022-09-01 00:00:00', 'TCS', '431542')
('2022-08-30 00:00:00', 'TCS', '117816')
('2022-08-29 00:00:00', 'TCS', '114608')
('2022-08-26 00:00:00', 'TCS', '28323')
('2022-08-25 00:00:00', 'TCS', '91523')
('2022-08-24 00:00:00', 'TCS', '53777')
('2022-08-23 00:00:00', 'TCS', '122593')
('2022-08-22 00:00:00', 'TCS', '96277')
('2022-08-19 00:00:00', 'TCS', '140465')
('2022-08-18 00:00:00', 'TCS', '137979')
('2022-08-17 00:00:00', 'TCS', '111891')
('2022-08-16 00:00:00', 'TCS', '22937')
('2022-08-12 00:00:00', 'TCS', '112772')
('2022-08-11 00:00:00', 'TCS', '124557')
('2022-08-10 00:00:00', 'TCS', '72060')
('2022-08-08 00:00:00', 'TCS', '86210')
('2022-08-05 00:00:00', 'TCS', '25229')
('2022-08-04 00:00:00', 'TCS', '128302')
('2022-08-03 00:00:00', 'TCS', '47351')
('2022-08-02 00:00:00', 'TCS', '75259')
('2022-08-01 00:00:00', 'TCS', '1310532')
('2022-07-29 00:00:00', 'TCS', '55026')
('2022-07-28 00:00:00', 'TCS', '80279')
('2022-07-27 00:00:00', 'TCS', '44030')
('2022-07-26 00:00:00', 'TCS', '96329')
('2022-07-25 00:00:00', 'TCS', '61457')
('2022-07-22 00:00:00', 'TCS', '81444')
('2022-07-21 00:00:00', 'TCS', '51548')
('2022-07-20 00:00:00', 'TCS', '217944')
('2022-07-19 00:00:00', 'TCS', '103279')
('2022-07-18 00:00:00', 'TCS', '1742719')
('2022-07-15 00:00:00', 'TCS', '120629')
('2022-07-14 00:00:00', 'TCS', '167339')
('2022-07-13 00:00:00', 'TCS', '107114')
('2022-07-12 00:00:00', 'TCS', '188774')
('2022-07-11 00:00:00', 'TCS', '202245')
('2022-07-08 00:00:00', 'TCS', '76501')
('2022-07-07 00:00:00', 'TCS', '77239')
('2022-07-06 00:00:00', 'TCS', '101238')
('2022-07-05 00:00:00', 'TCS', '138816')
('2022-07-04 00:00:00', 'TCS', '113323')
('2022-07-01 00:00:00', 'TCS', '34282')
('2022-06-30 00:00:00', 'TCS', '41813')
('2022-06-29 00:00:00', 'TCS', '108986')
('2022-06-28 00:00:00', 'TCS', '31985')
('2022-06-27 00:00:00', 'TCS', '38084')
('2022-06-24 00:00:00', 'TCS', '107346')
('2022-06-23 00:00:00', 'TCS', '371935')
('2022-06-22 00:00:00', 'TCS', '94514')
('2022-06-21 00:00:00', 'TCS', '106881')
('2022-06-20 00:00:00', 'TCS', '94264')
('2022-06-17 00:00:00', 'TCS', '276257')
('2022-06-16 00:00:00', 'TCS', '175120')
('2022-06-15 00:00:00', 'TCS', '87160')
('2022-06-14 00:00:00', 'TCS', '168330')
('2022-06-13 00:00:00', 'TCS', '168993')
('2022-06-10 00:00:00', 'TCS', '116639')
('2022-06-09 00:00:00', 'TCS', '46081')
('2022-06-08 00:00:00', 'TCS', '79401')
('2022-06-07 00:00:00', 'TCS', '26386')
('2022-06-06 00:00:00', 'TCS', '34827')
('2022-06-03 00:00:00', 'TCS', '65791')
('2022-06-02 00:00:00', 'TCS', '104828')
('2022-06-01 00:00:00', 'TCS', '121714')
('2022-05-31 00:00:00', 'TCS', '72520')
('2022-05-30 00:00:00', 'TCS', '117464')